.stitches-sprite(@x: 0, @y: 0, @width: 0, @height: 0) {
  background-position: @x @y;
  width: @width;
  height: @height;
}

.sprite {
  background-image: url(../img/spritesheet.png);    background-repeat: no-repeat;
  display: block;

  &.sprite-air {
    .stitches-sprite(-5px, -5px, 74px, 73px);
  }

  &.sprite-arrowNext {
    .stitches-sprite(-5px, -88px, 21px, 99px);
  }

  &.sprite-arrowNext-hover {
    .stitches-sprite(-5px, -197px, 21px, 99px);
  }

  &.sprite-arrowPrev {
    .stitches-sprite(-5px, -306px, 21px, 99px);
  }

  &.sprite-arrowPrev-hover {
    .stitches-sprite(-5px, -415px, 21px, 99px);
  }

  &.sprite-cart {
    .stitches-sprite(-5px, -524px, 26px, 23px);
  }

  &.sprite-close {
    .stitches-sprite(-5px, -557px, 13px, 13px);
  }

  &.sprite-close-hover {
    .stitches-sprite(-5px, -580px, 13px, 13px);
  }

  &.sprite-heart {
    .stitches-sprite(-5px, -603px, 23px, 23px);
  }

  &.sprite-heart-hover {
    .stitches-sprite(-5px, -636px, 23px, 23px);
  }

  &.sprite-ico-new {
    .stitches-sprite(-5px, -669px, 31px, 24px);
  }

  &.sprite-insta {
    .stitches-sprite(-5px, -703px, 32px, 32px);
  }

  &.sprite-insta-hover {
    .stitches-sprite(-5px, -745px, 32px, 32px);
  }

  &.sprite-lineBlue {
    .stitches-sprite(-5px, -787px, 80px, 5px);
  }

  &.sprite-linePink {
    .stitches-sprite(-5px, -802px, 82px, 5px);
  }

  &.sprite-loupa {
    .stitches-sprite(-5px, -817px, 22px, 23px);
  }

  &.sprite-loupa-hover {
    .stitches-sprite(-5px, -850px, 22px, 23px);
  }

  &.sprite-medal {
    .stitches-sprite(-5px, -883px, 55px, 73px);
  }

  &.sprite-menuIco-2 {
    .stitches-sprite(-5px, -966px, 21px, 28px);
  }

  &.sprite-menuIco-3 {
    .stitches-sprite(-5px, -1004px, 28px, 27px);
  }

  &.sprite-menuIco-4 {
    .stitches-sprite(-5px, -1041px, 35px, 13px);
  }

  &.sprite-menuIco-5 {
    .stitches-sprite(-5px, -1064px, 23px, 26px);
  }

  &.sprite-menuIco-6 {
    .stitches-sprite(-5px, -1100px, 30px, 22px);
  }

  &.sprite-menuIco-7 {
    .stitches-sprite(-5px, -1132px, 25px, 13px);
  }

  &.sprite-pay {
    .stitches-sprite(-5px, -1155px, 77px, 73px);
  }

  &.sprite-strela {
    .stitches-sprite(-5px, -1238px, 14px, 11px);
  }

  &.sprite-tb {
    .stitches-sprite(-5px, -1259px, 7px, 4px);
  }

  &.sprite-tel-ico {
    .stitches-sprite(-5px, -1273px, 25px, 23px);
  }

  &.sprite-tr {
    .stitches-sprite(-5px, -1306px, 5px, 7px);
  }

  &.sprite-vk {
    .stitches-sprite(-5px, -1323px, 32px, 32px);
  }

  &.sprite-vk-hover {
    .stitches-sprite(-5px, -1365px, 32px, 32px);
  }

  &.sprite-vkp {
    .stitches-sprite(-5px, -1407px, 30px, 17px);
  }
}