/* vetal@lapastilla.ru */
@import "mixins";
@import "sprite";

@colorBlue: #eff2f7;
@colorPink: #f0dddd;
@colorPinkPlus: #a66767;
@colorTextPink: #d1858a;
@colorTextBlue: #7393bf;
@colorGray: #c0c0c0;
@colorGrayText: #a9a9a9;

.gradientBlue() {
  background: rgba(223,226,233,1);
  background: -moz-linear-gradient(top, rgba(223,226,233,1) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223,226,233,1)), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(223,226,233,1) 0%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top, rgba(223,226,233,1) 0%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(top, rgba(223,226,233,1) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(223,226,233,1) 0%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfe2e9', endColorstr='#000000', GradientType=0 );
}
.gradientBlueVert() {
  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(223,227,232,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(223,227,232,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(223,227,232,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(223,227,232,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(223,227,232,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(223,227,232,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dfe3e8', GradientType=1 );
}
.gradientFilter() {
  background: rgba(248,80,50,0);
  background: -moz-linear-gradient(top, rgba(248,80,50,0) 0%, rgba(238,239,243,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,0)), color-stop(100%, rgba(238,239,243,1)));
  background: -webkit-linear-gradient(top, rgba(248,80,50,0) 0%, rgba(238,239,243,1) 100%);
  background: -o-linear-gradient(top, rgba(248,80,50,0) 0%, rgba(238,239,243,1) 100%);
  background: -ms-linear-gradient(top, rgba(248,80,50,0) 0%, rgba(238,239,243,1) 100%);
  background: linear-gradient(to bottom, rgba(248,80,50,0) 0%, rgba(238,239,243,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#eeeff3', GradientType=0 );
}

button {
  &.blue {
    background: #7394bf;
  }
  &.pink {
    background: #cb8f8f;
  }
  color: white;
  font-family: BebasNeue-Bold;
  text-transform: uppercase;
  border: none;
  font-size: 22px;
  padding: 10px 20px 7px;
  cursor: pointer;
  outline: none;
}



h3 {
  font-family: BebasNeue-Bold;
  font-size: 28px;
  text-transform: uppercase;
}

h4 {
  font-family: BebasNeue-Bold;
  font-size: 22px;
  text-transform: uppercase;
}

body {
  margin: 0;
  padding: 0;
  background: @colorGray;
  font-family: OpenSans;
  overflow-x: hidden;
}

body > .sideMenu {
  width: 16%;
  .inline-block();
  vertical-align: top;
  .box-sizing();
  position: fixed;
  top: 0;
  left: 0;
  &.shadow {
    .box-shadow(2px, 0, 5px, #e8e8e8);
  }
  .logo {
    padding: 10% 20%;
    background: white;
    img {
      width: 100%;
    }
  }
  .svg-triangle {
    position: absolute;
    left: 0;
    height: 20px;
    width: 100%;
    &.blue {
      polygon {
        fill: @colorBlue;
      }
    }
    &.white {
      polygon {
        fill: white;
      }
    }
    &.top {
      top: -20px;
    }
    &.bottom {
      bottom: -20px;
    }
  }
  > nav {
    background: @colorBlue;
    padding: 10px 0;
    position: relative;
    .menuItem {
      padding: 5% 5%;
      //margin: 25px 0;
      font-family: BebasNeue-Regular;
      text-transform: uppercase;
      font-size: 22px;
      cursor: pointer;
      position: relative;
      .transition();
      &:hover {
        background: darken(@colorBlue, 10%);
        .box-shadow(inset 0, 0, 15px, rgba(0, 0, 0, .2));
      }
      > div {
        .inline-block();
        vertical-align: middle;
      }
      .ico {
        width: 45px;
        .sprite {
          margin: 0 auto;
          .transform(scale(.8));
        }
      }
      .nameMenu {
        margin-left: 7%;
        vertical-align: baseline;
      }
      .sprite-tr {
        position: absolute;
        right: 5%;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
  .subscription {
    background: @colorPink;
    padding: 14% 10%;
    > div {
      position: relative;
    }
    p {
      font-family: OpenSans-SemiBold;
      font-size: 12px;
      margin: 5px 0;
    }
    input {
      width: 100%;
      .box-sizing();
      padding: 7px 10px;
      outline: none;
      border: 1px solid @colorPinkPlus;
      .rounded(3px);
    }
    .sprite-strela {
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  .info {
    padding: 5% 8%;
    background: white;
    position: relative;
    .phone {
      .sprite {
        .inline-block();
        //vertical-align: middle;
        margin-right: 10px;
      }
      p {
        .inline-block();
        vertical-align: baseline;
        margin: 0;
        font-size: 26px;
        font-weight: 100;
      }
      a {
        color: black;
        text-decoration: none;
        font-family: BebasNeue-Regular;
      }
    }
    .social {
      .descrSocial {
        .inline-block();
        vertical-align: middle;
        width: 33%;
        p {
          margin: 0;
          font-size: 11px;
        }
      }
      .socialIco {
        .inline-block();
        vertical-align: middle;
        > .sprite {
          .inline-block();
          vertical-align: middle;
          cursor: pointer;
        }
        .sprite-vk:hover {
          .sprite.sprite-vk-hover;
        }
        .sprite-insta:hover {
          .sprite.sprite-insta-hover;
        }
      }
    }
  }
}

body > .wrap {
  width: 84%;
  margin-left: 16%;
  background: white;
  header {
    &.mainHead {
      background: url(../img/backIm.png) no-repeat center;
      .background-size(cover);
      height: 100vh;
    }
    &.nemainHead {
      .svg-triangle {
        position: absolute;
        right: 0;
        top: 0;
        &.blue {
          width: 75%;
          height: 100%;
          polygon {
            fill: @colorBlue;
          }
        }
        &.pink {
          width: 20%;
          height: 120%;
          polygon {
            fill: @colorPink;
          }
        }
      }
      .breadCrumb {
        padding: 50px 20px;
        h2 {
          margin: 0;
          font-family: BebasNeue-Bold;
          font-size: 32px;
          text-transform: uppercase;
          .blue {
            color: @colorTextBlue;
          }
          .pink {
            color: @colorTextPink;
          }
          .delimer {
            color: #e3e7f0;
          }
        }
      }
    }
    width: 100%;
    position: relative;

    .navigate {
      position: absolute;
      top: 30px;
      right: 0;
      padding: 15px 10px;
      background: white;
      .box-shadow(0, 0, 5px, rgba(0, 0, 0, .4));
      > div {
        .inline-block();
        vertical-align: middle;
        padding: 0 10px;
      }
      .search {
        cursor: pointer;
        border-right: 1px solid #dbdbdb;
        .transition();
        .sprite {
          .inline-block();
          vertical-align: middle;
        }
        &:hover {
          .sprite {
            .sprite.sprite-loupa-hover;
          }
        }
        .hidden {
          .inline-block();
          vertical-align: middle;
          width: 0;
          overflow: hidden;
          .transition();
          &.active {
            width: 100%;
          }
        }
      }
      .login {
        a {
          color: black;
          text-decoration: none;
          cursor: pointer;
          &:hover {
            color: @colorTextPink;
            text-decoration: underline;
          }
        }
      }
      .heart {
        border-left: 1px solid #dbdbdb;
        border-right: 1px solid #dbdbdb;
        cursor: pointer;
        position: relative;
        .sprite {
          position: relative;
        }
        &:hover {
          .sprite {
            .sprite.sprite-heart-hover;
          }
        }
        .round {
          position: absolute;
          background: white;
          .rounded(50%);
          .size(13px, 13px);
          right: -6px;
          top: -1px;
          font-size: 12px;
          text-align: center;
          line-height: 1;
          color: @colorTextPink;
        }
      }
      .cart {
        cursor: pointer;
        > div {
          .inline-block();
          vertical-align: middle;
        }
        .price {
          margin: 0 10px;
        }
        .sprite-tb {
          .transition();
          &.active {
            .transform(rotate(180deg));
          }
        }
      }
    }
    .left, .right {
      font-family: BebasNeue-Regular;
      h2 {
        font-size: 40px;
        color: white;
        margin: 0;
        text-transform: uppercase;
      }
      p {
        color: white;
        margin: 0;
      }
      position: absolute;
      bottom: 40px;
    }
    .left {
      left: 40px;
      text-align: left;
    }
    .right {
      right: 40px;
      text-align: right;
    }
    .cart-go {
      background: white;
      position: absolute;
      top: 85px;
      z-index: 7;
      .transition(all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55));
      &.active {
        right: 0;
      }
      right: -100%;
      width: 65%;
      .box-sizing();
      .box-shadow(0, 3px, 5px, rgba(0, 0, 0, .4));
      .table-goods {
        text-align: center;
        .box-sizing();
        padding: 10px;
        .good {
          > div {
            .inline-block();
            vertical-align: middle;
          }
          .image {
            width: 20%;
            img {
              width: 100%;
              border: 1px solid #dbdbdb;
            }
          }
          .name {
            width: 35%;
            -ms-word-wrap: break-word;
            word-wrap: break-word;
            font-size: 16px;
          }
          .skolko {
            text-align: center;
            width: 15%;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            > div {
              .inline-block();
              vertical-align: top;
              text-align: center;
              padding: 10px;
              cursor: pointer;
              border: 1px solid #dbdbdb;
            }
            .plusminus {
              position: relative;
              color: @colorTextPink;
              &:active {
                top: 2px;
              }
            }
          }
          .sale {
            width: 25%;
            text-transform: uppercase;
            font-family: BebasNeue-Bold;
            font-size: 22px;
            text-align: center;
          }
          .close {
            .sprite {
              cursor: pointer;
              &:hover {
                .sprite.sprite-close-hover;
              }
            }
          }
        }
      }
      .summa {
        padding: 15px 25px;
        .gradientBlueVert;
        text-align: right;
        font-family: BebasNeue-Bold;
        font-size: 22px;
        span {
          font-family: OpenSans;
          font-size: 16px;
        }
      }
      .line {
        text-align: right;
        margin: 10px 20px;
      }
    }
  }
  .content {
    .box-sizing();
    padding: 20px;
    > .catalog {
      width: 70%;
      .inline-block();
      vertical-align: top;
      text-align: center;
      .item {
        .transition(all .5s ease-in-out);
        margin-right: 4px;
        margin-bottom: 20px;
        &:nth-child(3n) {
          margin-right: 0;
        }
        width: 31%;
        .inline-block();
        vertical-align: top;
        position: relative;
        overflow: hidden;
        border: 2px solid #f2f2f2;
        &.pink {
          button {
            background: @colorTextPink;
          }
          &.active {
            border: 2px solid @colorTextPink;
            .description .link {
              a {
                color: @colorTextPink;
                text-decoration: underline;
              }
            }
          }
        }
        &.blue {
          button {
            background: @colorTextBlue;
          }
          &.active {
            /*TODO: Сделать сердце синим*/
            border: 2px solid @colorTextBlue;
            .link {
              a {
                color: @colorTextPink;
                text-decoration: underline;
              }
            }
          }
        }

        &.active {
          .image {
            .heart {
              right: 10px;
            }
          }
          .description {
            .link {
              margin: 10px 0;
            }
            .but {
              max-height: 70px;
            }
            .rating {
              max-height: 30px;
            }
            .size {
              max-height: 30px;
            }
          }
        }

        .image {
          position: relative;
          .labels {
            position: absolute;
            top: 0;
            left: 0;
            img {
              display: block;
              margin: 5px 0;
              width: 70%;
            }
          }
          a {
            img {
              width: 100%;
            }
          }
          .heart {
            position: absolute;
            top: 10px;
            right: -30px;
            .transition(all .5s);
          }
        }
        .description {
          .but {
            .transition(all .5s ease-in-out);
            max-height: 0;
            overflow: hidden;
            button {
              padding: 7% 0;
              width: 85%;
            }
          }
          .link {
            margin: 40px 0;
            .transition(all .5s ease-in-out);
            a {
              color: black;
              text-decoration: none;
            }
          }
          .rating {
            .transition(all .5s ease-in-out);
            max-height: 0;
            margin: 10px 0;
            overflow: hidden;
          }
          .size {
            .transition(all .5s ease-in-out);
            max-height: 0;
            margin: 10px 0;
            overflow: hidden;
          }
        }
      }
    }
    > .product {
      width: 70%;
      position: relative;
      .inline-block();
      vertical-align: top;
      .leftSide {
        .inline-block();
        vertical-align: top;
        width: 48%;
        .mainImage {
          width: 100%;
          img {
            width: 100%;
            border: 1px solid #e3e7f0;
          }
        }
        .sliderImages {
          width: 100%;
          img {
            width: 20%;
            border: 1px solid #e3e7f0;
          }
        }
      }
      .rightSide {
        .inline-block();
        vertical-align: top;
        width: 48%;
        margin-left: 22px;
        .productName {
          margin: 0;
          text-transform: uppercase;
          font-family: BebasNeue-Regular;
          font-size: 30px;
          font-weight: 100;
          span {
            color: @colorGrayText;
          }
        }
        .price {
          font-family: BebasNeue-Bold;
          font-size: 34px;
          margin: 10px 0;
          .oldPrice {
            font-family: BebasNeue-Regular;
            color: @colorGrayText;
            font-size: 26px;
            text-decoration: line-through;
            font-weight: 100;
            margin-left: 20px;
          }
        }
        .size {
          p {
            font-size: 14px;
            margin: 10px 0;
          }
          .windows {
            .window {
              .inline-block();
              vertical-align: top;
              padding: 7px 10px;
              border: 1px solid @colorGray;
              cursor: pointer;
              &:hover {
                border: 1px solid black;
              }
              &:active {
                border: 1px solid @colorTextPink;
                background: @colorTextPink;
                color: white;
              }
            }
            .span {
              .inline-block();
              vertical-align: middle;
              a {
                color: @colorGrayText;
                font-size: 12px;
              }
            }
          }
        }
        .skolko {
          margin: 10px 0;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          .left > div {
            .inline-block();
            vertical-align: top;
            text-align: center;
            padding: 10px;
            cursor: pointer;
            border: 1px solid #dbdbdb;
          }
          .plusminus {
            position: relative;
            color: @colorTextPink;
            &:active {
              top: 2px;
            }
          }
        }
      }
    }
    aside {
      width: 29%;
      .inline-block();
      vertical-align: top;
      .filters {
        width: 65%;
        margin: 0 auto;
        .box-shadow(0, 0, 5px, #e8e8e8);
        .line {
          .transition(al .5s);
          cursor: pointer;
          &:nth-last-child(1) {
            .wrapper {
              border-bottom: none;
            }
          }
          .wrapper {
            padding: 10px 0;
            margin: 0 23px;
            position: relative;
            border-bottom: 1px solid #f2f2f2;
            .sprite {
              position: absolute;
              right: 10px;
              top: 0;
              bottom: 0;
              margin: auto;
              .transform(rotate(-90deg));
              .transition(all .5s);
            }
          }
          .wrapper-text {
            .transition(all .5s);
            margin: 0;
            max-height: 0;
            overflow: hidden;
          }
          &.active {
            .gradientFilter;
            .wrapper {
              .sprite {
                .transform(rotate(0deg));
              }
            }
            .wrapper-text {
              max-height: 100px;
              padding: 10px 20px;
            }
          }
        }
      }
    }
    .banners {
      width: 100%;
      img {
        height: 16.2vw;
        margin: 0 .3vw;
      }
      /*.mal {
        width: 20%;
      }
      .bol {
        width: 30%;
      }*/
    }
    .slick-block {
      margin: 15vh 0;
      .block-h {
        text-align: center;
        font-family: BebasNeue-Bold;
        font-size: 28px;
        margin: 10px 0;
        h3 {
          margin: 10px 0 7px;
        }
        .line {
          margin: 0 auto;
          background: #000000;
          width: 30px;
          height: 3px;
        }
      }
      .tabs {
        font-family: BebasNeue-Bold;
        margin: 20px 0;
        > div {
          .inline-block();
          vertical-align: middle;

          .sprite {
            width: 0;
            .transition(all .5s);
          }
          &:hover, &.active {
            .sprite {
              width: 100%;
            }
          }
          a {
            text-decoration: none;
            font-size: 20px;
            cursor: pointer;
          }
          .pink {
            color: @colorTextPink;
          }
          .blue {
            color: @colorTextBlue;
          }
        }
        span {
          font-family: BebasNeue-Regular;
          color: @colorTextBlue;
          font-size: 50px;
          .inline-block();
          vertical-align: middle;
        }
      }
      .line-slick {
        width: 100%;
        position: relative;
        overflow: hidden;
        .box-sizing();
        .transition(width .5s);
        &.active {
          width: 0;
        }
        .sprite {
          position: absolute;
          cursor: pointer;
          top: 0;
          bottom: 0;
          margin: auto;
          &.sprite-arrowPrev {
            left: -50px;
            &:hover {
              .sprite.sprite-arrowPrev-hover;
            }
          }
          &.sprite-arrowNext {
            right: -50px;
            &:hover {
              .sprite.sprite-arrowNext-hover;
            }
          }
        }
        .slider {
          width: 90%;
          margin: 0 auto;
          &.active {
            display: block;
          }
          &.hidden {
            display: none;
          }
          .item {
            * {
              outline: none;
            }
            text-align: center;
            border: 1px solid rgb(233, 233, 233);
            margin: 0 .5vw;
            img {
              width: 100%;
            }
            .image {
              height: 250px;
            }
            .description {
              .box-sizing();
              padding: 10px;
              position: relative;
              p {
                margin: 5px 0;
              }
            }
          }
        }
      }
    }
    .advantages {
      text-align: center;
      .advaBlock {
        .inline-block();
        vertical-align: top;
        width: 450px;
        margin: 20px 10px;
        .sprite {
          .inline-block();
          vertical-align: top;
          margin-right: 1.2vw;
        }
        .text {
          text-align: left;
          width: 300px;
          h4 {
            margin: 0;
          }
          p {
            margin: 0;
          }
          .inline-block();
          vertical-align: top;
        }
      }
    }
  }
  > footer {
    background: url(../img/footerBack.png) no-repeat center;
    .background-size(cover);
    padding: 20px;
    text-align: center;
    > div {
      .inline-block();
      vertical-align: top;
      margin-right: 3%;
      &:nth-last-child(1) {
        margin-right: 0;
      }
      text-align: left;
    }
    .links {
      h4 {
        margin: 0;
      }
      p {
        margin: 1vw 0;
      }
      a {
        color: black;
        text-decoration: none;
        &:hover {
          color: @colorTextPink;
          text-decoration: underline;
        }
      }
    }
    .instagram {
      width: 200px;
      p {
        margin: 0;
      }
    }
    .stack {
      text-align: right;
      width: 225px;
      .search {
        position: relative;
        input {
          background: #f3eaeb;
          border: 2px solid #e7c0c1;
          .rounded(20px);
          width: 100%;
          padding: 10px 20px;
          .box-sizing();
          outline: none;
        }
        .sprite {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 20px;
          margin: auto;
        }
      }
      .phone {
        margin: 15px 0 10px;
        .sprite {
          .inline-block();
          vertical-align: middle;
          margin-right: 10px;
        }
        a {
          font-size: 22px;
          color: black;
          text-decoration: none;
          font-family: BebasNeue-Regular;
        }
      }
      .mail {
        margin: 10px 0;
        a {
          color: black;
          text-decoration: none;
          &:hover {
            color: @colorTextPink;
            text-decoration: underline;
          }
        }
      }
      .vk {
        margin: 10px 0;
        .sprite {
          .inline-block();
          vertical-align: middle;
        }
        a {
          color: black;
          text-decoration: underline;
          &:hover {
            color: @colorTextPink;
          }
        }
      }
      .copy {
        margin: 10px 0;
        color: @colorTextPink;
      }
      .creator {
        margin: 10px 0;
        img {
          vertical-align: middle;
          margin-left: 5px;
        }
      }
    }
  }
}